$muted-color: #3b3f4b;
$primary-color: #2db259;
$secondary-color: #4b4aea;
.Button {
  display:flex;
  align-items: center;
  min-width: 196px;
  height: 55px;
  border-radius: 15px;
  width: max-content;
  font-size: 15px;
  box-sizing: border-box;
  padding: 15px 25px; 
  transition:.3s ease-in-out;
  cursor: pointer;
  .Button-text {
    margin-left: 10px;
  }
}
.Button.muted {
  color: $muted-color;

  border: 2px solid $muted-color;     
  &:hover {
      color: #fff;
      border-color: #fff;
  }
}
.Button.primary {
  color: #fff; 
  border: 2px solid $primary-color;  
  
  background-color: $primary-color;
  &:hover {    
    background-color: #32c663;
  }
}
.Button.secondary {
  color: #fff; 
  border: 2px solid $secondary-color;  
  width: 100%; 
  background-color: $secondary-color;
  .Button-text {
    margin: 0 auto;
  }
  &:hover {    
    background-color: #5958f4;
  }
}
